{% extends "base.html" %}
  
{% block body %}

<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Proje Neden Var?</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Gizlilik</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Sorumluluk Reddi</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Proje LineageOS kurabileceğiniz telefonları görüp karşılaştırmanız için var.</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Kimseden kişisel bilgisi istenmeyecek, izinsiz alınmayacaktır.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Aldığınız telefonlardan memnun kalmamanız durumunda sorumluluk kabul etmiyoruz.</div>
      </div>
    </div>
</div>

{% endblock body %}